# Mod 5 Project Central Notebook

## Imports and Data Ingestion

In [1]:
#import libraries

import mod_5_project_helper as hp
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#set environment

hp.set_environment()
%matplotlib inline
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

#initiliase variables

%run variables.py

#import data

df = pd.read_csv("data.csv")

## Data Cleanup

In [2]:
df.drop_duplicates(inplace = True) #drop 10,728 duplicate rows

In [3]:
df.drop(index = 100000, axis = 0, inplace = True) #delete last blank row in the data set

In [4]:
df.drop(df[df["Current Loan Amount"] == 99999999].index, inplace = True) #delete 11484 rows where the loan amount is 99999999

In [5]:
df.dropna(subset = ['Credit Score'], inplace = True) #delete 19154 rows where Credit Score is missing

In [6]:
df.dropna(subset = ['Years in current job'], inplace = True) #delete 2564 rows where Years in current job is missing

In [7]:
df["Years in current job"].replace(to_replace = "year.*", value = "",inplace = True, regex = True) #remove 'years' or 'year' from string

In [8]:
df.drop(df[df["Home Ownership"] == "HaveMortgage"].index, inplace = True) #delete 120 rows with "HaveMortgage" as meaning isn't clear

In [9]:
df.dropna(subset = ['Months since last delinquent'], inplace = True) #delete 30,000 rows where data is missing

In [10]:
df.drop(columns = "Maximum Open Credit", inplace = True) #delete Maximum Open Credit columns as some of these numbers are huge e.g. 798255370.0

In [11]:
df = hp.drop_column_keyword_search(df, ["Loan ID", "Customer ID"]) #delete features 'Loan ID' and 'Customer ID' as they don't add anything

In [12]:
df = df.fillna(df.median()) #fill remaining values with

In [13]:
df.reset_index(); #reset index

In [14]:
df.columns = ['loan_status',
              'current_loan_amount',
              'term',
              'credit_score',
              'annual_income',
              'years_in_current_job',
              'home_ownership',
              'loan_purpose',
              'monthly_debt',
              'years_of_credit_history',
              'months_since_last_delinquent',
              'number_of_open_accounts',
              'number_of_credit_problems',
              'current_credit_balance',
              'bankruptcies',
              'tax_liens']

#rename columns to make the dataset easier to work with using . notation

## Cleaned Dataset Information

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26401 entries, 6 to 99997
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   loan_status                   26401 non-null  object
 1   current_loan_amount           26401 non-null  float64
 2   term                          26401 non-null  object
 3   credit_score                  26401 non-null  float64
 4   annual_income                 26401 non-null  float64
 5   years_in_current_job          26401 non-null  object
 6   home_ownership                26401 non-null  object
 7   loan_purpose                  26401 non-null  object
 8   monthly_debt                  26401 non-null  float64
 9   years_of_credit_history       26401 non-null  float64
 10  months_since_last_delinquent  26401 non-null  float64
 11  number_of_open_accounts       26401 non-null  float64
 12  number_of_credit_problems     26401 non-null  float64
 13  current_credit_balance        26401 non-null  float64
 14  bankruptcies                  26401 non-null  float64
 15  tax_liens                     26401 non-null  float64
dtypes: float64(11), object(5)
memory usage: 3.4+ MB

In [19]:
df.groupby(df.loan_status).count()

,current_loan_amount,term,credit_score,annual_income,years_in_current_job,home_ownership,loan_purpose,monthly_debt,years_of_credit_history,months_since_last_delinquent,number_of_open_accounts,number_of_credit_problems,current_credit_balance,bankruptcies,tax_liens
loan_status,,,,,,,,,,,,,,,
Charged Off,7479,7479,7479,7479,7479,7479,7479,7479,7479,7479,7479,7479,7479,7479,7479
Fully Paid,18922,18922,18922,18922,18922,18922,18922,18922,18922,18922,18922,18922,18922,18922,18922